@import url('https://fonts.googleapis.com/css?family=Corben|Macondo|Rye|Trade+Winds');

body{
	background: url("../images/dnd.jpg") no-repeat;
	background-position: center top;
	font-family: 'Corben', cursive;
	font-family: 'Macondo', cursive;
}
h1{
	text-align: center;
	font-family: 'Rye', cursive;
	font-size: 40px;
	color: white;
	text-shadow: 1px 2px 3px black;
}
#wins, #word, #remaining, #guesses{
	max-width: 780px;
	padding:10px 10px 10px 30px;
	margin: auto;
}
#wins{
	height: 360px;
	text-align: right;
	margin-top:20px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 1px black;
}
#word{
	text-align: center;
}

#word div{
	border-bottom: 2px solid black;
	display: inline-block;
	text-align: center;
	padding: 5px 0 2px;
	width: 35px;
	margin: 5px;
	font-size: 24px;
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Trade Winds', cursive;
}

#word .space{
	border-bottom: none;
	padding: 0px;
}

#remaining{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 1px black;
}

#guesses{
	text-align: center;
	font-family: 'Trade Winds', cursive;
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 1px black;
}